body
{
background-image: url("Img/BgImage.png");
background-size:cover;
}

.loginInput, textarea
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: 4px solid #b486a0;
	background: rgba(#995f6e, .2);
	border-radius: .2em .2em 0 0;
	padding: .4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.438);
    font-family: 'Oxygen';
}
.loginInput::placeholder {
    font-family: "Oxygen";
    color: rgb(223, 200, 214);
}

.loginButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Oxygen';
    color: white;
    background-color: #995f6e; 
    transition: 2s;
    font-size: 15px;
}

.loginButton:hover
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: 'Oxygen';
    color: white;
    background-color: #b486a0; 
    transition: 1s;
}

fieldset
{
    width: 525px;
    height: 300px;
    box-shadow: 0px 0px 50px #50323a98;
    border-radius: 5px;
    border-width: 0px;
    background-color: #50323a52;
    justify-items: center;
    justify-self: center;
}

h1
{
    align-self: center;
    align-items: center;
    align-content: center;
    font-family: 'Oxygen';
    color: #b486a0;
}

h2
{
    text-align: center;
    font-family: 'Oxygen';
    color: #b486a0;
}

p
{
    font-family: 'Oxygen';
    color: white;
}

a
{
    font-family: 'Oxygen';
    color: #b486a0;
    text-decoration: none;
}