body {
    font-family: "Oxygen", sans-serif;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../imgs/BgImage.png");
    background-size: cover;
    overflow-x: hidden;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.img_logo {
    margin-top: -2.3rem;
    height: auto;
    width: 40%;
    max-width: 600px;
}

.fundo {
    background-color: #4b4b4b;
    background-image: url("../imgs/BgImage.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 2rem 0 0 0;
    width: 100%;
    height: auto;
}

.bar {
    margin-bottom: 20px;
    background-color: #161616;
    box-shadow: 0px -10px 20px #995f6e;
    border-bottom: 4px solid #995f6e;
    z-index: 5;
}

.bar ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.bar ul li:last-child {
    margin-left: auto;
}

.bar ul li {
    background-color: #16161600;
    transition: 1s; 
    font-size: 1.1rem;
    padding: 1.25rem 2rem;
}

.bar a {
    text-decoration: none;
    color: #605c7c;
    transition: 1s;
}

.bar ul li:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 50px #995f6e;
    background-color: #995f6e79;
    color: #ffffff;
}

.bar ul li:hover a{
    text-decoration: none;
    color: #d693a5;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap; /* permite quebrar no mobile */
    width: 100%;
}

.texto-noti {
    flex: 1 1 300px;
    min-width: 0; /* MUITO IMPORTANTE */
}

.noti {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 0px;
    box-shadow: 0px 0px 30px #b85b9093;
    margin: 0px 0px 20px 0px;
    padding: 1.5rem;
    height: auto;  /* Talvez mude */
    width: 100%;
    max-width: 1243px; /* limite para não ficar gigante em telas grandes */
    align-self: center;
    z-index: 1;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    box-shadow: 0px 0px 50px #834556;
}

.img_noti {
    width: 250px;
    max-width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

.noti button{
    padding: 0.8rem;
    width: 100%;
    max-width: 400px;
    height: 50px;
    display: block;
    margin: 2rem auto 0; 
    border-radius: 10px;
    border: 2px solid #be79b3;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: transparent; 
    transition: 0.3s;
    font-size: 1rem;
}

.noti h1{
    color: #be79b3;
}

.noti p{
    margin-top: -15px;
    color: #caa7c4;
}

.noti button:hover
{
    border: 2px solid #ca93c1;
    box-shadow: 0px 0px 30px #d696cb;

}

.texto_noti {
    color: #807ba5;
}

.intro {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 20px;
    border-bottom: 4px solid #7b6bbb;
    border-top: 4px solid #7b6bbb;
    margin: 0px 0px 20px 0px;
    margin-bottom: 20px;
    height: auto;
    width: 46%;
    align-self: center;
    float: left;
    margin-left: 32px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

p {
    text-align: justify;
    padding: 20px;
    line-height: 1.6;
}

.container_pesso {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pesso {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: 0 0 30px #ddd7f980;
    border-top: 4px solid #7b6bbb;
    border-bottom: 4px solid #7b6bbb;
    width: 100%;
    max-width: 630px; /* controla tamanho máximo */
    margin: 0 0 1.5rem 0;
}

.pesso ul {
    list-style-type: none; 
    width: 70%;
    height: auto;
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    padding: 1rem;
}

.pesso ul li {
    scroll-snap-align: center;
}

label {
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #16161600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #995f6e;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c57c8f;
  transition: 1s;
}

/* login_register*/
main {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sectionuser {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

form {
    font-family: "Oxygen", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput, textarea
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: 4px solid #b486a0;
	border-radius: .2em .2em 0 0;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.438);
    font-family: "Oxygen", sans-serif;
}

.loginInput::placeholder {
    font-family: "Oxygen", sans-serif;
    color: rgb(223, 200, 214);
}

.loginInput:hover, textarea:hover {
    background-color: rgba(151, 118, 127, 0.438);
    transition: 1.2s;
}

.loginInput:focus, textarea:focus {
    border-bottom: 4px solid #af0063;
    transition: 1.2s;
}

.loginButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #995f6e; 
    transition: 2s;
    font-size: 15px;
}

.loginButton:hover
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #b486a0; 
    transition: 1s;
}

button:hover
{
    cursor: pointer;
}

fieldset
{
    width: 525px;
    height: auto;
    box-shadow: 0px 0px 50px #50323a98;
    border-radius: 5px;
    border-width: 0px;
    background-color: #50323a52;
}

h1
{
    align-self: center;
    align-items: center;
    align-content: center;
    font-family: "Oxygen", sans-serif;
    color: #ffffff;
}

h2
{
    text-align: center;
    font-family: "Oxygen", sans-serif;
    color: #b8b2e2;
}

p
{
    font-family: "Oxygen", sans-serif;
    color: b8b2e2;
}

a
{
    font-family: "Oxygen", sans-serif;
    color: #b486a0;
    text-decoration: none;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 20px;
}

.about {
    display: flex;
    flex-flow: column;
    background-color: #080808;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    height: 450px;
    width: 650px;
    align-self: center;
    border-bottom: 4px solid #7b6bbb;
    border-top: 4px solid #7b6bbb;
    padding-right: 20px;
}

.about p {
    text-align: justify;
    padding-left: 2.3rem;
    line-height: 1.6;
    color: #cc8195;
}

.about h1 {
    text-align: center;
    padding-left: 1rem;
    color: #cc6a84;
}

.aboutimg
{
    align-self: center;
    float: left;
    height: 450px;
    width: 300px;
    box-shadow: 0px 0px 30px #00000080;
    border-bottom: 4px solid #7b6bbb;
    border-top: 4px solid #7b6bbb;
}

footer {
    background-color: #504d68b7;
    text-align: center;
    padding: 20px 10px;
    margin-top: auto;
    color: #000000;
}

footer p {
    font-family: "Oxygen", sans-serif;
    margin: 5px 0;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links
{
    flex: 1 1 250px;
    min-width: 200px;
}

.footer-links p
{
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    text-decoration: solid;
    text-align: center;
}

.footer-links a
{
    display: block;
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-left: 5px 0; 
}

.footer-links img
{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    vertical-align: middle;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

footer hr
{
    width: 80%;
    color: #ff0000;
    border: 1px solid #adaabd;
    margin: 20px auto;
}

footer img
{
    width: 35px;
    height: 35px;
}

footer .copyright {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}

hr
{
    width: 15%;
    color: #ff0000;
    border: 1px solid #b486a0;
}

.DelButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #d64169; 
    transition: 2s;
    font-size: 15px;
}

.DelButton:hover
{
    cursor: pointer; 
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #f0255b; 
    transition: 1s;
}

.navbar
{

    margin-left: 35px;
    margin-bottom: 25px;
    width: 175px;
    height: 550px;
    background-color: #161616;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    box-shadow: 0px 0px 50px #834556;
    float: left;
    text-align: center;
}

.navbar a
{
    font-family: "Oxygen", sans-serif;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    transition: 1s;
    display: inline-block; 
    width:99%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis
}

.navbar a:hover
{
    font-family: "Oxygen", sans-serif;
    color: #995f6e;
    background-color: #2e2528;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:focus
{
    font-family: "Oxygen", sans-serif;
    color: #995f6e;
    background-color: #2e2528;
    font-size: 20px;
    text-decoration: none;
}

.navbar hr
{
    width: 75%;
    margin-top: -1px;
    color: #ff0000;
    border: 1px solid #ffffff;
}

.playercard
{
    margin-left: 50px;
    margin-bottom: 25px;
    width: 1050px;
    height: 550px;
    background-color: #161616;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    box-shadow: 0px 0px 50px #834556;
    float: left;
}

.playercard p
{
    color: white;
    font-size: 25px;
}

.playercard hr
{
    color: #ff0000;
    border: 1px solid #ffffff;
}

.nameandage
{
    width: 594px;
    height: 125px;
    background-color: #4e2b3500;
    float: left;
    margin-left: 6px;
}

.nameandage p
{
    margin: -7px;
    color: white;
    float: left;
    border-bottom: 4px solid #995f6e;
    height: 25px;
}

.description
{
    background-color: #c2547100;
    color: white;
    padding: 10px;
    font-size: 22px;
    overflow: hidden;
    width: 600px;
    height: 300px;
}

.description p
{
    margin: -25px;
    color: white;
    float: left;
    height: 25px;
    font-size: 20px;
    line-clamp: 20;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
}

.buttonplace
{
    width: 600px;
    height: 125px;
    background-color: #ff004800;
    float: left;
}

.actionbutton
{
    padding: 5px;
    margin: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #be79b3;
    box-shadow: 0px 0px 5px #3b2a38;
    font-family: "Oxygen", sans-serif;
    color: #be79b3;
    background-color: #ffffff00; 
    transition: 2s;
    font-size: 20px;
    margin-left: 50px;
    transition: 1s;
}

.actionbutton:hover
{
    border: 2px solid #ca93c1;
    box-shadow: 0px 0px 30px #d696cb;
}

.playervoting
{
    border-top: 4px solid #995f6e;
    width: 250px;
    height: 255px;
    background-color: #161616;
    margin-left: 70px;
    margin-bottom: 125px;
    float: left;
    transition: 1s;
}

.playervoting button{
    width: 250px;
    height: 75px;
    background-color: #995f6e;
    margin-top: 255px;
    float: left;
    border: 0px;
    transition: 1s;
}

.playervoting:hover{
    border-top: 4px solid #d696cb;
    width: 265px;
    height: 275px;
    box-shadow: 0px 0px 30px #926c8b;
    margin-bottom: 105px;
}

.playervoting:hover button{
    background-color: #d696cb;
    margin-top: 275px;
    width: 265px;
}

.playervoting:hover p{
    transform: translateX(30%);
    color: #d696cb;
}


.playervoting button h1{
    font-family: "Oxygen", sans-serif;
    color: white;
    margin-top: -1px;
}

.playervoting p{
    font-family: "Oxygen", sans-serif;
    color: white;
    margin-top: -1px;   
    margin-left: -15px;
    transition: transform 3s ease;
}

.userinforow{
    border-left: 4px solid #995f6e;
    border-right: 4px solid #995f6e;
    width: 1125px;
    height: 95px;
    background-color: #161616;
    margin-top: -350px;
    box-shadow: 0px -10px 20px #5e3a43;
}

.userinforow img{
    width: 195px;
    height: 195px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 55px;
    margin-top: -105px;
    transition: 1s;
    clip-path: circle();
}

.userinforow h1{
    font-size: 45px;
    transition: 1s;
    margin-top: -151px;
    margin-left: 255px;
    text-align: left;
    color: #c76b84;
}

.userinforow h2{
    font-size: 17px;
    margin-top: -20px;
    transition: 1s;
    color: white;
    margin-left: -380px;
}

.userinforow h3{
    font-size: 17px;
    margin-top: -10px;
    transition: 1s;
    color: white;
    margin-left: 295px;
}

.dropdown {
    float: right;
    position: relative;
}

.dropdownbutton {
  background-color: #161616;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: -60px;
  transition: 0.4s;
}

.dropdown-content {
    right: 1;
    display: none;
    position: absolute;
    background-color: #161616;
    border-right: 4px solid #995f6e;
    text-align: right;
    min-width: 200px;
    margin-right: -5px;
    transition: 0.4s;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1f1f1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdownbutton {
  background-color: #1f1f1f;
}

.UserEditBox{
    border-top: 4px solid #995f6e;
    border-bottom: 4px solid #995f6e;
    margin-left: 35px;
    width: 550px;
    height: 425px;
    background-color: #140a0d;
    margin-top: -100px;
    box-shadow: 0px -10px 20px #995f6e;
}

.UserEditBox h1{
    color: #db728e;
    text-align: left;
    margin-left: 10px;
    transition: 1s;
    margin-top: -5px;
}   

.UserEditBox img{
    width: 155px;
    height: 155px;
    background-color: #ff65cc;
    border: 0px;
    margin-top: -75px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.UserEditBox img:hover{
    width: 155px;
    height: 155px;
    background-color: #ffffff;
    border: 0px;
    margin-top: -75px;
    transition: 1s;
    clip-path: circle();
}

.evilButton{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 25px;
    margin-left: 75px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #bd5c76; 
    transition: 2s;
    font-size: 15px;
}

.evilButton:hover{
   padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 25px;
    margin-left: 75px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #e24670; 
    transition: 2s;
    font-size: 15px;
}

.usersection{
    width: 350px;
    height: 450px;
    background-color: white;
    margin-top: -475px;
    border-left: 4px solid #995f6e;
    background-color: #161616;
}

.userPostInput{
    float: right;
    width: 750px;
    height: 170px;
    background-color: white;
    margin-top: -755px;
    margin-left: 25px;
    border-right: 4px solid #995f6e;
    background-color: #161616;
}

.userPostInput form {
    background-color: rgba(255, 0, 0, 0);
    height: 155px;
    margin-left: -85px;
    margin-top: -45px;
    font-family: "Oxygen", sans-serif;
    flex-direction: auto;
    align-items: auto;
}

.userPostInput img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 35px;
    margin-top: 15px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.userPostInput p{
    margin-left: 75px;
    margin-top: -75px;
}

.userPostInput hr{
    width: 45%;
    color: #ff0000;
    border: 1px solid #b486a0;
    margin-top: -7px;
    margin-left: 275px;
}

.PostInput{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.082);
    font-family: "Oxygen", sans-serif;
    margin-left: 95px;
}

.PostInput:hover{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0.055);
    font-family: "Oxygen", sans-serif;
    margin-left: 95px;
    transition: 1s;
}

.PostInput:focus{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 6px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(255, 126, 231, 0.137);
    font-family: "Oxygen", sans-serif;
    margin-left: 95px;
    transition: 1s;
}

input[type="file"] {
  display: none;
}

.AddAttachment{
    margin-left: -425px;
    border: 2.5px solid #2c2c2c00;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    transition: 2s;
}

.AddAttachment:hover{
    cursor: pointer;
}

.AddAttachment img{
    height: 25px;
    width: 25px;
    clip-path: fill-box;
    background-color: #140a0d00;
    margin-top: 0;
    margin-left: 0;
}


.PostButton{
    margin-top: -25px;
    float: right;
    margin-right: -675px;
    width: 95px;
    height: 30px;
    background-color: #995f6e;
    font-family: "Oxygen", sans-serif;
    color: white;
    border: 0px;
    border-radius: 15px;
    cursor: pointer;
    transition: 1s;
}

.PostButton:hover{
    float: right;
    margin-top: -25px;
    width: 95px;
    height: 30px;
    background-color: #c5667f;
    border: 0px;
    border-radius: 15px;
    color: white;
    font-family: "Oxygen", sans-serif;
}

.imgcarrosel {
    width: 100%;
    max-width: 600px; /* largura do carrossel */
    margin: 0 auto; /* centraliza na página */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    display: flex;
    justify-content: center;
}

.imgcarrosel ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 20px;
}

.imgcarrosel li {
    flex: 0 0 100%; /* cada li ocupa toda a largura do carrossel */
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    scroll-snap-align: center;
    border-radius: 15px;
    overflow: hidden;
}

.imgcarrosel::-webkit-scrollbar {
    display: none;
}

.imgcarrosel ul {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.imgcarrosel ul::-webkit-scrollbar {
    height: 0px;
    display: none;
}

.imgcarrosel li img{
    width: 70%;
    display: block;
    height: auto;
    border-radius: 15px;
    background-color: greenyellow;
    margin-bottom: 30px;
}

.SideInfo1{
    width: 25vw;
    height: 98%;
    background-color: #161616;
    border: 0px;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    float: left;
    margin-left: -25vw;
}

.SideInfo1 img{
    width: 155px;
    height: 125px;
    background-color: #ff65cc;
    border: 0px;
    margin-top: 15px;
    margin-left: 5px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.SideInfo1 h1{
    color: #ff65cc;
    margin-top: -125px;
    margin-left: 150px;
    max-width: 225px;
    background-color: rgba(255, 0, 0, 0);
    text-align: left;
    overflow: hidden;
}

.SideInfo1 p{
    color: #ffffff;
    margin-top: -35px;
    margin-left: 135px;
    margin-bottom: -35px;
    max-width: 225px;
    background-color: rgba(255, 0, 0, 0);
    text-align: left;
    overflow: hidden;
}

.SideInfo1 hr{
    width: 90%;
    color: #ff0000;
    border: 1px solid #2b2b2b;
    margin-top: 60px;
}

.PostBox{
    float: left;
    width: 550px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    overflow-y: auto;
    margin-left: 25px;
}

.PostBox::-webkit-scrollbar {
    display: none;
}

.PostInterface{
    width: 550px;
    max-height: 375px;
    min-height: 115px;
    background-color: #161616;
    border: 0px;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    margin-top: 25px;
}

.PostInterface img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.PostInterface p{
    /*color: white; */
    overflow-x: hidden;
    margin-left: 65px;
    margin-top: -70px;
}


.PostInterface pre{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #575757;
    margin-left: 85px;
    margin-top: -40px;
}

.PostInterface hr{
    width: 90%;
    color: #ff0000;
    border: 1px solid #2b2b2b;
    margin-top: -30px;
}

.PostInteraction{
    background-color: rgba(255, 0, 0, 0);
    margin-top: 55px;
    height: 25px;
    width: 75%;
    margin-top: -0px;
    margin-left: 70px;
}

.PostInteraction .box{
    margin-left: 15px;
    float: left;
    height: 25px;
    width: 75px;
    margin-top: -5px;
}

.PostInteraction button{
    height: 25px;
    width: 25px;
    background-color: #2c2c2c;
    border: 0px;
    transition: 1s;
}

.PostInteraction button img{
    height: 27px;
    width: 27px;
    clip-path: fill-box;
    margin-left: -6px;
    margin-top: -2px;
    border: 0;
    background-color: #00000000;
}

.PostInteraction button p{
    margin-top: -45px;
    margin-left: -0px;
    font-size: 15px;
    color: #2c2c2c;
    transition: 1s;
}

.PostInteraction button:hover{
    background-color: #4b4b4b;
}

.PostInteraction button:hover p{
    color: #646464;
}

.PostInteraction button.liked {
    background-color: #f94cff;
}

.PostInteraction button.liked p {
    color: #fa5bff;
}


.PostInterfaceWithImage{
    width: 550px;
    min-height: 200px;
    max-height: 325px;
    background-color: #161616;
    border: 0px;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    margin-top: 25px;
}

.PostInterfaceWithImage img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.PostInterfaceWithImage p{
    margin-left: 65px;
    margin-top: -70px;
}

.PostInterfaceWithImage pre{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #575757;
    margin-left: 85px;
    margin-top: -40px;
}

.PostInterfaceWithImage .PostImage{
    width: 350px;
    height: 150px;
    margin-top: -35px;
    margin-left: 85px;
    margin-bottom: 35px;
    background-color: wheat;
    clip-path: fill-box;
}

.PostInterfaceWithImage hr{
    width: 90%;
    color: #ff0000;
    border: 1px solid #2b2b2b;
    margin-top: -30px;
}

.FocusedPostBar{
    float: left;
    width: 100%;
    min-height: 5vw;
    max-height: 7vw;
    background: linear-gradient(97deg,rgba(22, 22, 22, 1) 54%, rgba(153, 95, 110, 1) 100%);
    border-bottom: 4px solid #995f6e;
    border-right: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
}

.FocusedPostBar img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.FocusedPostBarContent{
    float: left;
    height: 100%;
    width: 50%;
    background-color: rgba(255, 0, 0, 0);
}

.FocusedPostBarContent p{
    margin-left: 65px;
    margin-top: -70px;
}

.FocusedPostBarContent pre{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #575757;
    margin-left: 85px;
    margin-top: -40px;
}


.CommentBox{
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.082);
    font-family: "Oxygen", sans-serif;
    margin-left: 6vw;
    margin-top: -2vw;
}

.hiddeninput{
    display: none;
}

.CommentBox:hover{
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(186, 90, 168, 0.337);
    font-family: "Oxygen", sans-serif;
    margin-left: 6vw;
    margin-top: -2vw;
}

.CommentBox:focus{
    padding: 5px;
    margin: 5px;
    width: 100%;
    height: 2.5vw;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(186, 159, 181, 0.493);
    font-family: "Oxygen", sans-serif;
    margin-left: 6vw;
    margin-top: -2vw;
}

.CommentPost{
    margin-top: -55px;
    float: right;
    margin-right:-10vw;
    width: 2.7vw;
    height: 2.7vw;
    background-color: #995f6e;
    font-family: "Oxygen", sans-serif;
    color: rgba(255, 255, 255, 0);
    border: 0px;
    cursor: pointer;
    transition: 1s;
}

.CommentPost input{
    color: rgba(255, 255, 255, 0);
    background-color: #00000000;
    border: none;
}

.CommentPost img{
    width: 2.5vw;
    height: 2.5vw;
    clip-path: fill-box;
    margin-top: -0.9vw;
    margin-left: -0.3vw;
    border-width: 0vw;
    background-color: #00000000;
}

.CommentPost:hover{
    margin-top: -55px;
    float: right;
    margin-right:-10vw;
    width: 2.7vw;
    height: 2.7vw;
    background-color: #c45975;
    font-family: "Oxygen", sans-serif;
    color: white;
    border: 0px;
    cursor: pointer;
    transition: 1s;
}

.TrendingPost1{
    height: 25vw;
    width: 25vw;
    background-color: #161616;
}

/* FormataçaoDePagina(Yang eu estou a dar-me em maluco) */

.onefourth{
    width: 25%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    float: left;
}

.onefourthvertical{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 25%;
    background-color: rgb(255, 255, 255);
}

/* Responsivo */
@media (max-width: 768px) { /*tablet*/

    .noti {
        max-width: 90%;
    }

    .img_logo {
        width: 70%;
    }

    .bar ul {
        flex-direction: column; /* empilha os itens */
        align-items: flex-start;
    }

    .bar ul li {
        width: 100%;         /* ocupa toda a largura */
        padding: 0.8rem 1rem; /* reduz o padding */
        text-align: left;
    }

    .bar ul li:last-child {
        margin-left: 0;      /* remove auto margin para mobile */
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 40px 0px 60px 0px;
    }

    .about {
        display: flex;
        flex-flow: column;
        background-color: #080808;
        background-image: url("../imgs/Texture.png");
        background-size: cover;
        background-blend-mode: multiply;
        height: 550px;
        width: 650px;
        align-self: center;
        border-bottom: 4px solid #7b6bbb;
        border-top: 4px solid #7b6bbb;
        padding-right: 20px;
    }

    .aboutimg {
        display: none;
    }
}

@media (max-width: 480px) { /*movel*/

    .noti {
        max-width: 90%;
    }

    .img_logo {
        width: 85%;
    }

    .bar ul li {
        font-size: 1rem;     /* ajusta a fonte para telas pequenas */
        padding: 0.6rem 0.8rem;
    }

    .about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        margin: 40px 0px 60px 0px;
    }

    .about {
        display: flex;
        flex-flow: column;
        background-color: #080808;
        background-image: url("../imgs/Texture.png");
        background-size: cover;
        background-blend-mode: multiply;
        height: 550px;
        width: 650px;
        align-self: center;
        border-bottom: 4px solid #7b6bbb;
        border-top: 4px solid #7b6bbb;
        padding-right: 20px;
    }

    .aboutimg {
        display: none;
    }
}