body {
    font-family: "Oxygen", sans-serif;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../imgs/BgImage.png");
    background-size:cover;
}

.logo {
    align-content: center;
    padding: 20px;
}

.img_logo {
    margin-top: -25px;
    height: 150px;
    width: 40%;
}

.fundo {
    background-color: #4b4b4b;
    background-image: url("../imgs/BgImage.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-size: cover;
    background-blend-mode: multiply;
    padding: 20px;
    width: auto;
    height: 150px;
}

.bar {
    margin-bottom: 20px;
    background-color: #161616;
    box-shadow: 0px -10px 20px #995f6e;
    border-bottom: 4px solid #995f6e;
}

.bar ul {
    list-style: none;
    display: flex;
}

.bar ul li:last-child {
    margin-left: auto;
}

.bar ul li {
    font-size: 1.1rem;
    margin: -10px 10px -10px 10px;
    padding: 20px;
    background-color: #16161600;
    transition: 0.3s; 
}

.bar a {
    text-decoration: none;
    color: #605c7c;
    transition: 0.3s;
}

.bar ul li:hover{
    border-radius: 5px;
    box-shadow: 0px 0px 50px #504d68;
    background-color: #504d688e;
    color: #ffffff;
}

.bar ul li:hover a{
    text-decoration: none;
    color: #8680ac;
}


.noti {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    border: 4px solid #693653;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #b85b9093;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    height: 275px;  /* Talvez mude */
    width: 92%;
    align-self: center;
    z-index: 1;
}

.img_noti {
    width: 20%;
    height: auto;
    float: right;
    padding-left: 100px;
    margin: 11px 40px 0px 0px;
    z-index: 1;
}

.noti button{
    padding: 5px;
    margin: 30px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #be79b3;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #ffffff00; 
    transition: 2s;
    font-size: 15px;
    margin-left: 200px;
}

.noti h1{
    color: #be79b3;
}

.noti p{
    margin-top: -15px;
    color: #caa7c4;
}

.noti button:hover
{
    border: 2px solid #ca93c1;
    box-shadow: 0px 0px 30px #d696cb;

}

.texto_noti {
    color: #807ba5;
}

.intro {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    border: 4px solid #7b6bbb;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #ddd7f977;
    margin: 0px 0px 20px 0px;
    margin-bottom: 20px;
    height: auto;
    width: 46%;
    align-self: center;
    float: left;
    margin-left: 32px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

p {
    text-align: justify;
    padding: 20px;
    line-height: 1.6;
}

.pesso {
    background-color: #201f20;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    border: 4px solid #7b6bbb;
    border-radius: 20px;
    box-shadow: 0px 0px 30px #ddd7f980;
    margin: 0px 0px 20px 0px;
    margin-bottom: 20px;
    height: auto;
    width: 46%;
    align-self: center;
    float: left;
    margin-left: 28px;
    align-items: center;
}

.pesso ul {
    list-style-type: none; 
    width: 70%;
    height: auto;
    display: flex;
    gap: 25vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.pesso ul li {
    scroll-snap-align: center;
}

footer {
    background-color: #504d68b7;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    color: #000000;
}

footer p {
    font-family: "Oxygen", sans-serif;
    text-align: center;
    margin: 0;
}

label {
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #16161600;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #995f6e;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c57c8f;
  transition: 1s;
}

/* login_register*/
main {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sectionuser {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

form {
    font-family: "Oxygen", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput, textarea
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: 4px solid #b486a0;
	border-radius: .2em .2em 0 0;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.438);
    font-family: "Oxygen", sans-serif;
}

.loginInput::placeholder {
    font-family: "Oxygen", sans-serif;
    color: rgb(223, 200, 214);
}

.loginInput:hover, textarea:hover {
    background-color: rgba(151, 118, 127, 0.438);
    transition: 1.2s;
}

.loginInput:focus, textarea:focus {
    border-bottom: 4px solid #af0063;
    transition: 1.2s;
}

.loginButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #995f6e; 
    transition: 2s;
    font-size: 15px;
}

.loginButton:hover
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #b486a0; 
    transition: 1s;
}

button:hover
{
    cursor: pointer;
}

fieldset
{
    width: 525px;
    height: auto;
    box-shadow: 0px 0px 50px #50323a98;
    border-radius: 5px;
    border-width: 0px;
    background-color: #50323a52;
}

h1
{
    align-self: center;
    align-items: center;
    align-content: center;
    font-family: "Oxygen", sans-serif;
    color: #ffffff;
}

h2
{
    text-align: center;
    font-family: "Oxygen", sans-serif;
    color: #b8b2e2;
}

p
{
    font-family: "Oxygen", sans-serif;
    color: b8b2e2;
}

a
{
    font-family: "Oxygen", sans-serif;
    color: #b486a0;
    text-decoration: none;
}

.about {
    background-color: #504d68;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    height: 450px;
    width: 650px;
    align-self: center;
    float: left;
    box-shadow: 0px 0px 50px #504d68;
    padding-right: 20px;;
}

.about p {
    text-align: justify;
    padding-right: 50px;
    line-height: 1.6;
}

.about h1 {
    text-align: center;
    padding-right: 50px;
}

.aboutimg
{
    align-self: center;
    float: left;
    margin-left: 200px;
    margin-bottom:50px;
    height: 450px;
    width: 300px;
    box-shadow: 0px 0px 50px #504d68;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.footer-links
{
    float: left;
    padding: 2px;
    width: 33%;
}

.footer-links p
{
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    
    text-decoration:solid
}

.footer-links a
{
    font-family: 'Oxygen', sans-serif;
    color: #ffffff;
    text-decoration: none;
    margin-left: 75px; 
}

.footer-links img
{
    width: 35px;
    height: 35px;
}

footer hr
{
    width: 75%;
    color: #ff0000;
    border: 1px solid #adaabd;
}

footer img
{
    width: 35px;
    height: 35px;
}

hr
{
    width: 15%;
    color: #ff0000;
    border: 1px solid #b486a0;
}

.DelButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #d64169; 
    transition: 2s;
    font-size: 15px;
}

.DelButton:hover
{
    cursor: pointer; 
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #f0255b; 
    transition: 1s;
}

.navbar
{

    margin-left: 35px;
    margin-bottom: 25px;
    width: 175px;
    height: 550px;
    background-color: #161616;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    box-shadow: 0px 0px 50px #834556;
    float: left;
    text-align: center;
}

.navbar a
{
    font-family: "Oxygen", sans-serif;
    color: #ffffff;
    font-size: 19px;
    text-decoration: none;
    transition: 1s;
    display: inline-block; 
    width:99%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis
}

.navbar a:hover
{
    font-family: "Oxygen", sans-serif;
    color: #995f6e;
    background-color: #2e2528;
    font-size: 20px;
    text-decoration: none;
}

.navbar a:focus
{
    font-family: "Oxygen", sans-serif;
    color: #995f6e;
    background-color: #2e2528;
    font-size: 20px;
    text-decoration: none;
}

.navbar hr
{
    width: 75%;
    margin-top: -1px;
    color: #ff0000;
    border: 1px solid #ffffff;
}

.playercard
{
    margin-left: 50px;
    margin-bottom: 25px;
    width: 1050px;
    height: 550px;
    background-color: #161616;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    box-shadow: 0px 0px 50px #834556;
    float: left;
}

.playercard p
{
    color: white;
    font-size: 25px;
}

.playercard hr
{
    color: #ff0000;
    border: 1px solid #ffffff;
}

.nameandage
{
    width: 594px;
    height: 125px;
    background-color: #4e2b3500;
    float: left;
    margin-left: 6px;
}

.nameandage p
{
    margin: -7px;
    color: white;
    float: left;
    border-bottom: 4px solid #995f6e;
    height: 25px;
}

.description
{
    background-color: #c2547100;
    color: white;
    padding: 10px;
    font-size: 22px;
    overflow: hidden;
    width: 600px;
    height: 300px;
}

.description p
{
    margin: -25px;
    color: white;
    float: left;
    height: 25px;
    font-size: 20px;
    line-clamp: 20;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 20;
}

.buttonplace
{
    width: 600px;
    height: 125px;
    background-color: #ff004800;
    float: left;
}

.actionbutton
{
    padding: 5px;
    margin: 30px;
    width: 500px;
    height: 50px;
    border-radius: 10px;
    border: 2px solid #be79b3;
    box-shadow: 0px 0px 5px #3b2a38;
    font-family: "Oxygen", sans-serif;
    color: #be79b3;
    background-color: #ffffff00; 
    transition: 2s;
    font-size: 20px;
    margin-left: 50px;
    transition: 1s;
}

.actionbutton:hover
{
    border: 2px solid #ca93c1;
    box-shadow: 0px 0px 30px #d696cb;
}

.playervoting
{
    border-top: 4px solid #995f6e;
    width: 250px;
    height: 255px;
    background-color: #161616;
    margin-left: 70px;
    margin-bottom: 125px;
    float: left;
    transition: 1s;
}

.playervoting button{
    width: 250px;
    height: 75px;
    background-color: #995f6e;
    margin-top: 255px;
    float: left;
    border: 0px;
    transition: 1s;
}

.playervoting:hover{
    border-top: 4px solid #d696cb;
    width: 265px;
    height: 275px;
    box-shadow: 0px 0px 30px #926c8b;
    margin-bottom: 105px;
}

.playervoting:hover button{
    background-color: #d696cb;
    margin-top: 275px;
    width: 265px;
}

.playervoting:hover p{
    transform: translateX(30%);
    color: #d696cb;
}


.playervoting button h1{
    font-family: "Oxygen", sans-serif;
    color: white;
    margin-top: -1px;
}

.playervoting p{
    font-family: "Oxygen", sans-serif;
    color: white;
    margin-top: -1px;   
    margin-left: -15px;
    transition: transform 3s ease;
}

.newsh1{
    color: #c77a8e;
    font-size: 25px;
     font-family: "Oxygen", sans-serif;
    text-align: left;
    margin-left: 45px;
    transition: 1s;
}

.newsh1:hover{
    color: #faa8be;
    font-size: 25px;
     font-family: "Oxygen", sans-serif;
    text-align: left;
    margin-left: 45px;
}

.newsrow{
   overflow: auto;
    white-space:nowrap;
    width: 100%;
    height: 190px;
    overflow-y: hidden;
}

.newscard{
    border-top: 4px solid #995f6e;
    border-bottom: 4px solid #995f6e;
    width: 375px;
    height: 150px;
    background-color: #161616;
    margin-left: 70px;
    margin-bottom: 15px;
    transition: 1s;
    display: inline-block;
    vertical-align:top;
    margin-right:20px;
    white-space:normal;
}

.newscard img{
    width: 175px;
    height: 120px;
    background-color: #ff65cc88;
    border: 0px;
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    float: left;
    transition: 1s;
}

.newscard .textslot {
    width: 150px;
    height: 120px;
    background-color: #6d2b5700;
    float: left;
    margin: 15px 0 15px 5px;
    transition: 1s;
}

.newscard .textslot p {
    font-size: 15px;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: -15px;
    transition: 1s;
}

.newscard .textslot h1 {
    font-size: 17px;
    color: #c57a8e;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: 20px;
    transition: 1s;
}

.newscard .continuebutton{
    width: 0px;
    height: 150px;
    background-color: #c57a8e;
    margin-top: 0px;
    transition: 1s;
    float: right;
    font-size: 0px;
    text-align: center;
    color: #ffffff;
}

.newscard .continuebutton p{
    transition: 1s;
    font-size: 0px;
    text-align: center;
    color: #ffffff;
    margin-left: -20px;
    margin-top: 50px;
}

.newscard:hover{
    border-top: 4px solid #c57a8e;
    border-bottom: 4px solid #c77b8f;
    width: 450px;
    height: 150px;
    background-color: #1b1b1b;
    margin-left: 70px;
    margin-bottom: 15px;
    transition: 1s;
    display: inline-block;
    vertical-align:top;
    margin-right:20px;
    white-space:normal;
    box-shadow: 0px 0px 20px #995f6e;
}  

.newscard:hover img{
    width: 185px;
}  

.newscard:hover .textslot{
    width: 200px;
}  

.newscard:hover .continuebutton{
    transition-delay:0.5s;
    width: 25px;
    font-size: 20px;
}

.newscard:hover .continuebutton p{
    transition-delay:0.5s;
    margin-left: -15px;
    margin-top: 40px;
    font-size: 20px;
}  

.newscard:hover .textslot p {
    font-size: 15px;
    margin: 0;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: -15px;
    color: #995f6e;
}

.newscard:hover .textslot h1 {
    color: #995f6e;
}

.BigNew{
    border-top: 4px solid #995f6e;
    border-bottom: 4px solid #995f6e;
    margin-left: 35px;
    width: 95%;
    height: 275px;
    background-color: #140a0d;
}

.BigNew h1{
    color: #db728e;
    text-align: left;
    margin-left: 10px;
    transition: 1s;
    margin-top: -5px;
}   

.BigNew h1:hover{
    color: #eb9fb3;
    text-align: left;
    margin-left: 10px;
}

.BigNew img{
    width: 350px;
    height: 175px;
    background-color: #ff65cc88;
    border: 0px;
    margin-top: -5px;
    margin-left: 45px;
    float: left;
    transition: 1s;
}

.BigNew .textarea{
    width: 825px;
    height: 175px;
    background-color: #ff65cc00;
    border: 0px;
    margin-top: -5px;
    margin-left: 35px;
    float: left;
    transition: 1s;
}

.BigNew .textarea h1{
    font-size: 15px;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: -20px;
    font-size: 25px;
    transition: 1s;
}

.BigNew .textarea p{
    font-size: 15px;
    overflow: hidden;
    line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-top: -20px;
    transition: 1s;
}

.newshr{
    width: 75%;
    color: #ff0000;
    border: 2.5px solid #c47a8e;
}

.userinforow{
    border-left: 4px solid #995f6e;
    border-right: 4px solid #995f6e;
    width: 1125px;
    height: 95px;
    background-color: #161616;
    margin-top: -350px;
    box-shadow: 0px -10px 20px #5e3a43;
}

.userinforow img{
    width: 195px;
    height: 195px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 55px;
    margin-top: -105px;
    transition: 1s;
    clip-path: circle();
}

.userinforow h1{
    font-size: 45px;
    transition: 1s;
    margin-top: -151px;
    margin-left: -450px;
    color: #c76b84;
}

.userinforow h2{
    font-size: 17px;
    margin-top: -20px;
    transition: 1s;
    color: white;
    margin-left: -450px;
}

.userinforow h3{
    font-size: 17px;
    margin-top: -10px;
    transition: 1s;
    color: white;
    margin-left: 305px;
}

.dropdown {
    float: right;
    position: relative;
}

.dropdownbutton {
  background-color: #161616;
  color: white;
  padding: 16px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-top: -60px;
  transition: 0.4s;
}

.dropdown-content {
    right: 1;
    display: none;
    position: absolute;
    background-color: #161616;
    border-right: 4px solid #995f6e;
    text-align: right;
    min-width: 200px;
    margin-right: -5px;
    transition: 0.4s;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #1f1f1f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdownbutton {
  background-color: #1f1f1f;
}

.UserEditBox{
    border-top: 4px solid #995f6e;
    border-bottom: 4px solid #995f6e;
    margin-left: 35px;
    width: 550px;
    height: 425px;
    background-color: #140a0d;
    margin-top: -100px;
    box-shadow: 0px -10px 20px #995f6e;
}

.UserEditBox h1{
    color: #db728e;
    text-align: left;
    margin-left: 10px;
    transition: 1s;
    margin-top: -5px;
}   

.UserEditBox img{
    width: 155px;
    height: 155px;
    background-color: #ff65cc;
    border: 0px;
    margin-top: -75px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.UserEditBox img:hover{
    width: 155px;
    height: 155px;
    background-color: #ffffff;
    border: 0px;
    margin-top: -75px;
    transition: 1s;
    clip-path: circle();
}

.evilButton{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 25px;
    margin-left: 75px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #bd5c76; 
    transition: 2s;
    font-size: 15px;
}

.evilButton:hover{
   padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    margin-top: 25px;
    margin-left: 75px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #e24670; 
    transition: 2s;
    font-size: 15px;
}

.usersection{
    width: 350px;
    height: 450px;
    background-color: white;
    margin-top: -475px;
    border-left: 4px solid #995f6e;
    background-color: #161616;
}

.userPostInput{
    float: right;
    width: 750px;
    height: 170px;
    background-color: white;
    margin-top: -755px;
    margin-left: 25px;
    border-right: 4px solid #995f6e;
    background-color: #161616;
}

.userPostInput img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 35px;
    margin-top: 15px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.userPostInput p{
    margin-left: 75px;
    margin-top: -75px;
}

.userPostInput hr{
    width: 45%;
    color: #ff0000;
    border: 1px solid #b486a0;
    margin-top: -7px;
}

.PostInput{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.082);
    font-family: "Oxygen", sans-serif;
    margin-top: -35px;
    margin-left: 95px;
}

.PostInput:hover{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(255, 255, 255, 0.055);
    font-family: "Oxygen", sans-serif;
    margin-top: -35px;
    margin-left: 95px;
    transition: 1s;
}

.PostInput:focus{
    padding: 5px;
    margin: 5px;
    width: 570px;
    height: 75px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-radius: 6px;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(255, 126, 231, 0.137);
    font-family: "Oxygen", sans-serif;
    margin-top: -35px;
    margin-left: 95px;
    transition: 1s;
}

.PostButton{
    margin-top: 5px;
    float: right;
    margin-right: 25px;
    width: 95px;
    height: 30px;
    background-color: #995f6e;
    font-family: "Oxygen", sans-serif;
    color: white;
    border: 0px;
    border-radius: 15px;
    transition: 1s;
}

.PostButton:hover{
    float: right;
    margin-right: 25px;
    width: 95px;
    height: 30px;
    background-color: #c5667f;
    border: 0px;
    border-radius: 15px;
    color: white;
    font-family: "Oxygen", sans-serif;
}

.imgcarrosel ul {
  width: 475px;
  height: 250px;
  padding: 20px;
  display: flex;
  margin-left: 53px;
  margin-top: -55px;
}

.imgcarrosel li {
  list-style-type: none;
  background-color: #ff0000;
  border: 0px;
  padding: 0px;
  flex: 0 0 100%;
}

.imgcarrosel::-webkit-scrollbar {
    display: none;
}

.imgcarrosel ul {
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.imgcarrosel ul::-webkit-scrollbar {
    height: 0px;
    display: none;
}

.imgcarrosel li {
  scroll-snap-align: center;
}

.imgcarrosel li img{
  width: 100%;
  height: 100%;
  background-color: palevioletred;
}

.PostBox{
    width: 750px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    overflow-y: auto;
}

.PostBox::-webkit-scrollbar {
    display: none;
}

.PostInterface{
    width: 550px;
    height: 175px;
    background-color: #161616;
    border: 0px;
    border-radius: 5px;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    margin-top: 25px;
    margin-left: 100px;
}

.PostInterface img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.PostInterface p{
    margin-left: 65px;
    margin-top: -70px;
}


.PostInterface pre{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #575757;
    margin-left: 85px;
    margin-top: -40px;
}

.PostInterface hr{
    width: 90%;
    color: #ff0000;
    border: 1px solid #2b2b2b;
    margin-top: -30px;
}

.PostInteraction{
    background-color: rgba(255, 0, 0, 0);
    margin-top: 55px;
    height: 25px;
    width: 75%;
    margin-top: -0px;
    margin-left: 70px;
}

.PostInteraction .box{
    margin-left: 15px;
    float: left;
    height: 25px;
    width: 75px;
}

.PostInteraction button{
    height: 25px;
    width: 25px;
    background-color: #2c2c2c;
    border: 0px;
    transition: 1s;
}

.PostInteraction button p{
    margin-top: -20px;
    margin-left: -0px;
    font-size: 15px;
    color: #2c2c2c;
    transition: 1s;
}

.PostInteraction button:hover{
    background-color: #4b4b4b;
}

.PostInteraction button:hover p{
    color: #646464;
}

.PostInterfaceWithImage{
    width: 550px;
    height: 325px;
    background-color: #161616;
    border: 0px;
    border-radius: 5px;
    border-bottom: 4px solid #995f6e;
    border-top: 4px solid #995f6e;
    margin-top: 25px;
    margin-left: 100px;
}

.PostInterfaceWithImage img{
    width: 55px;
    height: 55px;
    background-color: #ff65cc;
    border: 0px;
    margin-left: 20px;
    margin-top: 10px;
    transition: 1s;
    clip-path: circle();
    cursor: pointer;
}

.PostInterfaceWithImage p{
    margin-left: 65px;
    margin-top: -70px;
}

.PostInterfaceWithImage pre{
    font-family: "Oxygen", sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #575757;
    margin-left: 85px;
    margin-top: -40px;
}

.PostInterfaceWithImage .PostImage{
    width: 350px;
    height: 150px;
    margin-top: -35px;
    margin-left: 85px;
    margin-bottom: 35px;
    background-color: wheat;
    clip-path: fill-box;
}

.PostInterfaceWithImage hr{
    width: 90%;
    color: #ff0000;
    border: 1px solid #2b2b2b;
    margin-top: -30px;
}


