body {
    font-family: "Oxygen", sans-serif;
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../imgs/BgImage.png");
    background-size:cover;
}

.logo {
    align-content: center;
    padding: 20px;
}

.img_logo {
    width: 50%;
}

.fundo {
    background: linear-gradient(180deg,rgb(20, 20, 20) 80%, rgba(153, 95, 110, 1) 100%);
    padding: 20px;
    width: auto;
    height: 220px;
}

.bar {
    margin-bottom: 20px;
    background-color: #995f6e;
}

.bar ul {
    list-style: none;
    display: flex;
}

.bar ul li:last-child {
    margin-left: auto;
}

.bar ul li {
    font-size: 1.1rem;
    margin: -10px 10px -10px 10px;
    padding: 20px;
    background-color: #995f6e;
    transition: 0.3s; 
}

.bar a {
    text-decoration: none;
    color: #d9a3b1;
}

.bar ul li:hover{
    background-color: #72475285;
    color: #000000;
}

.noti {
    background-color: #504d68;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    height: 310px;
    width: 92%;
    align-self: center;
    z-index: 1;
}

.img_noti {
    width: 20%;
    height: auto;
    float: left;
    padding-left: 100px;
    margin-right: 40px;
    z-index: 1;
}

.texto_noti {
    color: #d9a3b1;
}

.intro {
    background-color: #b486a0;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    font-size: 1.2rem;
    color: #ffffff;
    height: 250px;
    width: 46%;
    align-self: center;
    float: right;
    margin-right: 34px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

p {
    text-align: justify;
    padding: 20px;
    line-height: 1.6;
}

.pesso {
    background-color: #a6b0e1;
    background-image: url("../imgs/Texture.png");
    background-size: cover;
    background-blend-mode: multiply;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
    height: 250px;
    width: 46%;
    align-self: center;
    float: left;
    margin-left: 34px;
}

footer {
    background-color: #b486a0;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    color: #000000;
}

footer p {
    font-family: "Oxygen", sans-serif;
    text-align: center;
    margin: 0;
}

label {
    color: white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #995f6e80;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #686868;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}

/* login_register*/
main {
    font-family: "Oxygen", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    font-family: "Oxygen", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginInput, textarea
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    appearance: none;
	border: none;
	outline: none;
	border-bottom: 4px solid #b486a0;
	background: rgba(#995f6e, .2);
	border-radius: .2em .2em 0 0;
	padding: 0.4em;
	color: #ffffff;
    background-color: rgba(71, 44, 66, 0.438);
    font-family: "Oxygen", sans-serif;
}

.loginInput::placeholder {
    font-family: "Oxygen", sans-serif;
    color: rgb(223, 200, 214);
}

.loginButton
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    border-width: 0px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #995f6e; 
    transition: 2s;
    font-size: 15px;
}

.loginButton:hover
{
    padding: 5px;
    margin: 5px;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    font-family: "Oxygen", sans-serif;
    color: white;
    background-color: #b486a0; 
    transition: 1s;
}

fieldset
{
    width: 525px;
    height: auto;
    box-shadow: 0px 0px 50px #50323a98;
    border-radius: 5px;
    border-width: 0px;
    background-color: #50323a52;
}

h1
{
    align-self: center;
    align-items: center;
    align-content: center;
    font-family: "Oxygen", sans-serif;
    color: #b486a0;
}

h2
{
    text-align: center;
    font-family: "Oxygen", sans-serif;
    color: #b486a0;
}

p
{
    font-family: "Oxygen", sans-serif;
    color: white;
}

a
{
    font-family: "Oxygen", sans-serif;
    color: #b486a0;
    text-decoration: none;
}