body {
    font-family: "Oxygen", sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    align-content: center;
    padding: 20px;
}

.img_logo {
    width: 50%;
}

.fundo {
    background: linear-gradient(180deg,rgba(29, 29, 29) 80%, rgba(153, 95, 110, 1) 100%);
    padding: 20px;
    width: auto;
    height: 200px;
}

.bar {
    margin-bottom: 20px;
    background-color: #995f6e;
}

.bar ul {
    list-style: none;
    display: flex;
}

.bar ul li:last-child {
    margin-left: auto;
}

.bar ul li {
    font-size: 1.1rem;
    margin: -10px 10px -10px 10px;
    padding: 20px;
    background-color: #995f6e;
    transition: 0.3s; 
}

.bar a {
    text-decoration: none;
    color: #d9a3b1;
}

.bar ul li:hover{
    background-color: #72475285;
    color: #000000;
}

.noti {
    background-color: #504d68;
    margin: 0px 0px 20px 0px;
    padding: 20px;
    min-height: 400px;
}

.img_noti {
    width: 30%;
    float: left;
    padding-left: 100px;
    margin-right: 40px;
}

.texto_noti {
    color: #d9a3b1;
}

.intro {
    background-color: #b486a0;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
    min-height: 300px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

p {
    text-align: justify;
    padding: 20px;
    line-height: 1.6;
}

.pesso {
    background-color: #a6b0e1;
    font-size: 1.2rem;
    color: #ffffff;
    margin-bottom: 20px;
    min-height: 300px;
}

footer {
    background-color: #b486a0;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    color: #000000;
}

footer p {
    font-family: "Oxygen", sans-serif;
    text-align: center;
    margin: 0;
}