.logo {
    align-content: center;
    background-color: #b486a0;
}

.img_logo {
    align-content: center;
    width: 50%;
}

.bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #d9a3b1;
}

.bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.bar ul li {
    margin: 0 10px;
}

.bar ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px 10px;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-bar ul li a:hover {
    background-color: #995f6e;
    color: #b486a0;
}